<!--	MICROSOFT PROJECT HTML 导出模板

	模板名称      : Stripes Navy.html
	模板样式      : 条纹
	配色方案      : 千帆竞渡
	图像占位符    : 有
	表占位符      : 任务/资源/分配
-->

<HTML>
<HEAD>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=GB_2312-80">
<TITLE>Microsoft Project 导出信息</TITLE>
</HEAD>

<!-- ******* BACKGROUND, LINK, AND FONT COLORS ******* -->

<BODY BGCOLOR="#9999CC" TEXT="#000080" LINK="#CCCCE6" VLINK="#9999CC" ALINK="#9999CC" TOPMARGIN="0" LEFTMARGIN="0">

<!-- ******* PROJECT TITLE ******* -->

<DIV ALIGN="LEFT">
<TABLE BORDER="0" CELLPADDING="0" CELLSPACING="0" WIDTH="100%">
<TR>
    <TD WIDTH="100%" BGCOLOR="#000080">
    <FONT COLOR="#CCCCE6" SIZE="7" FACE="宋体">
    &nbsp;
    <B>
    <!--MSProjectTemplate_ProjectTitle-->
    </B>
    </FONT>
    </TD>
</TR>
</TABLE>
</DIV>

<!-- ******* START AND FINISH DATES ******* -->

<P ALIGN="CENTER">
<FONT COLOR="#000000" SIZE="3" FACE="宋体">
<B>项目开始日期: </B>
</FONT>
<FONT COLOR="#000080" SIZE="3" FACE="宋体">
<B>
<!--MSProjectTemplate_StartDate-->
</B>
</FONT>
<BR>
<FONT COLOR="#000000" SIZE="3" FACE="宋体">
<B>项目完成日期: </B>
</FONT>
<FONT COLOR="#000080" SIZE="3" FACE="宋体">
<B>
<!--MSProjectTemplate_FinishDate-->
</B>
</FONT>
</P>

<!-- ******* PROJECT IMAGE ******* -->

<DIV ALIGN="CENTER">
<TABLE BORDER="1" CELLPADDING="1" BGCOLOR="#000080"
BORDERCOLOR="#000080" BORDERCOLORDARK="#000080" BORDERCOLORLIGHT="#000080">
<TR>
    <TD>
    <!--MSProjectTemplate_Image-->
    </TD>
</TR>
</TABLE>
</DIV><BR>

<!-- ******* TASK TABLE TITLE ******* -->

<DIV ALIGN="LEFT">
<TABLE BORDER="0" CELLPADDING="0" CELLSPACING="0" WIDTH="100%">
<TR>
    <TD WIDTH="5%">&nbsp;</TD>
    <TD WIDTH="90%" BGCOLOR="#000080"><FONT COLOR="#CCCCE6" SIZE="5" FACE="黑体">
    &nbsp;
    <!--MSProjectTemplate_TaskTableTitle-->
    </FONT>
    </TD>
    <TD WIDTH="5%">&nbsp;</TD>
</TR>
</TABLE>
</DIV><BR>

<!-- ******* TASK TABLE ******* -->

<DIV ALIGN="CENTER">
<TABLE BORDER="1" CELLPADDING="1" BGCOLOR="#000080"
BORDERCOLOR="#000080" BORDERCOLORDARK="#000080" BORDERCOLORLIGHT="#000080">
<TR>
    <TD>
    <!--MSProjectTemplate_TaskTable-->
    </TD>
</TR>
</TABLE>
</DIV><BR>

<!-- ******* RESOURCE TABLE TITLE ******* -->

<DIV ALIGN="LEFT">
<TABLE BORDER="0" CELLPADDING="0" CELLSPACING="0" WIDTH="100%">
<TR>
    <TD WIDTH="5%">&nbsp;</TD>
    <TD WIDTH="90%" BGCOLOR="#000080"><FONT COLOR="#CCCCE6" SIZE="5" FACE="黑体">
    &nbsp;
    <!--MSProjectTemplate_ResourceTableTitle-->
    </FONT>
    </TD>
    <TD WIDTH="5%">&nbsp;</TD>
</TR>
</TABLE>
</DIV><BR>

<!-- ******* RESOURCE TABLE ******* -->

<DIV ALIGN="CENTER">
<TABLE BORDER="1" CELLPADDING="1" BGCOLOR="#000080"
BORDERCOLOR="#000080" BORDERCOLORDARK="#000080" BORDERCOLORLIGHT="#000080">
<TR>
    <TD>
    <!--MSProjectTemplate_ResourceTable-->
    </TD>
</TR>
</TABLE>
</DIV><BR>

<!-- ******* ASSIGNMENT TABLE TITLE ******* -->

<DIV ALIGN="LEFT">
<TABLE BORDER="0" CELLPADDING="0" CELLSPACING="0" WIDTH="100%">
<TR>
    <TD WIDTH="5%">&nbsp;</TD>
    <TD WIDTH="90%" BGCOLOR="#000080"><FONT COLOR="#CCCCE6" SIZE="5" FACE="黑体">
    &nbsp;
    <!--MSProjectTemplate_AssignmentTableTitle-->
    </FONT>
    </TD>
    <TD WIDTH="5%">&nbsp;</TD>
</TR>
</TABLE>
</DIV><BR>

<!-- ******* ASSIGNMENT TABLE ******* -->

<DIV ALIGN="CENTER">
<TABLE BORDER="1" CELLPADDING="1" BGCOLOR="#000080"
BORDERCOLOR="#000080" BORDERCOLORDARK="#000080" BORDERCOLORLIGHT="#000080">
<TR>
    <TD>
    <!--MSProjectTemplate_AssignmentTable-->
    </TD>
</TR>
</TABLE>
</DIV><BR>

<!-- ******* MICROSOFT LINKS ******* -->

<BR>
<DIV ALIGN="CENTER">
<TABLE BORDER="0" CELLPADDING="4" CELLSPACING="0" WIDTH="100%">
<TR>
    <TD ALIGN="CENTER" WIDTH="100%" BGCOLOR="#000080">
    <FONT FACE="宋体" SIZE="1">
    <A HREF="http://www.microsoft.com/isapi/redir.dll?prd=msft&plcid=0x0804&ar=home">
    Microsoft 主页
    </A>
    <BR>
    <A HREF="http://www.microsoft.com/isapi/redir.dll?prd=msproject&sbp=&plcid=0x0804&pver=8.0&ar=home">
    Microsoft Project 主页
    </A>
    </FONT>
    </TD>
</TR>
</TABLE>
</DIV>

</BODY>
</HTML>

