<!--	MICROSOFT PROJECT HTML 导出模板

	模板名称      : Centered Mist Dark.html
	模板样式      : 居中
	配色方案      : 暗雾黎明
	图像占位符    : 有
	表占位符      : 任务/资源/分配
-->

<HTML>
<HEAD>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=GB_2312-80">
<TITLE>Microsoft Project 导出信息</TITLE>
</HEAD>

<!-- ******* BACKGROUND, LINK, AND FONT COLORS ******* -->

<BODY BGCOLOR="#336666" TEXT="#336666" LINK="#ADA990" VLINK="#D6E0E0" ALINK="#ADA990" TOPMARGIN="30" LEFTMARGIN="5">
<DIV ALIGN="CENTER">

<!-- ******* PROJECT TITLE ******* -->

<FONT COLOR="#ADA990" SIZE="7" FACE="宋体">
<B>
<!--MSProjectTemplate_ProjectTitle-->
</B>
</FONT>
<BR><BR>
<HR NOSHADE WIDTH="75%" COLOR="#ADA990">

<!-- ******* PROJECT IMAGE ******* -->

<BR>
<!--MSProjectTemplate_Image-->
<BR>

<!-- ******* START AND FINISH DATE ******* -->

<BR>
<TABLE>
<TR>
    <TD ALIGN="RIGHT">
    <FONT COLOR="#ADA990" SIZE="2" FACE="宋体">
    <B>
    项目开始日期:
    <BR>
    项目完成日期:
    </B>
    </FONT>
    </TD>
    <TD ALIGN="LEFT">
    <FONT COLOR="#D6E0E0" SIZE="2" FACE="宋体">
    <B>
    <!--MSProjectTemplate_StartDate-->
    <BR>
    <!--MSProjectTemplate_FinishDate-->
    </B>
    </FONT>
    </TD>
</TR>
</TABLE>
<BR><BR>

<!-- ******* TASK TABLE TITLE ******* -->

<P ALIGN="CENTER">
<FONT SIZE="5" COLOR="#D6E0E0" FACE="宋体">
<B>
<!--MSProjectTemplate_TaskTableTitle-->
</B>
</FONT>
</P>
<HR NOSHADE WIDTH="50%" COLOR="#D6E0E0">

<!-- ******* TASK TABLE ******* -->

<DIV ALIGN="CENTER">
<TABLE BORDER="2" CELLPADDING="2" BGCOLOR="#ADA990" BORDERCOLOR="#ADA990" BORDERCOLORDARK="#ADA990" BORDERCOLORLIGHT="#ADA990">
<TR>
    <TD>
    <!--MSProjectTemplate_TaskTable-->
    </TD>
</TR>
</TABLE>
</DIV>
<BR>

<!-- ******* RESOURCE TABLE TITLE ******* -->

<P ALIGN="CENTER">
<FONT SIZE="5" COLOR="#D6E0E0" FACE="宋体">
<B>
<!--MSProjectTemplate_ResourceTableTitle-->
</B>
</FONT>
</P>
<HR NOSHADE WIDTH="50%" COLOR="#D6E0E0">

<!-- ******* RESOURCE TABLE ******* -->

<DIV ALIGN="CENTER">
<TABLE BORDER="2" CELLPADDING="2" BGCOLOR="#ADA990" BORDERCOLOR="#ADA990" BORDERCOLORDARK="#ADA990" BORDERCOLORLIGHT="#ADA990">
<TR>
    <TD>
    <!--MSProjectTemplate_ResourceTable-->
    </TD>
</TR>
</TABLE>
</DIV>
<BR>

<!-- ******* ASSIGNMENT TABLE TITLE ******* -->

<P ALIGN="CENTER">
<FONT SIZE=5 COLOR="#D6E0E0" FACE="宋体">
<B>
<!--MSProjectTemplate_AssignmentTableTitle-->
</B>
</FONT>
</P>
<HR NOSHADE WIDTH="50%" COLOR="#D6E0E0">

<!-- ******* ASSIGNMENT TABLE ******* -->

<DIV ALIGN="CENTER">
<TABLE BORDER="2" CELLPADDING="2" BGCOLOR="#ADA990" BORDERCOLOR="#ADA990" BORDERCOLORDARK="#ADA990" BORDERCOLORLIGHT="#ADA990">
<TR>
    <TD>
    <!--MSProjectTemplate_AssignmentTable-->
    </TD>
</TR>
</TABLE>
</DIV>
<BR>

<!-- ******* MICROSOFT LINKS ******* -->

<P ALIGN="CENTER">
<BR>
<FONT FACE="宋体" SIZE="1">
<A HREF="http://www.microsoft.com/isapi/redir.dll?prd=msft&plcid=0x0804&ar=home">
Microsoft 主页
</A>
<BR>
<A HREF="http://www.microsoft.com/isapi/redir.dll?prd=msproject&sbp=&plcid=0x0804&pver=8.0&ar=home">
Microsoft Project 主页
</A>
</FONT>
</P>

</DIV>

</BODY>
</HTML>
