<!--	MICROSOFT PROJECT HTML 导出模板

	模板名称      : Columns Navy.html
	模板样式      : 直排
	配色方案      : 千帆竞渡
	图像占位符    : 有
	表占位符      : 任务/资源/分配
-->

<HTML>
<HEAD>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=GB_2312-80">
<TITLE>Microsoft Project 导出信息</TITLE>
</HEAD>

<!-- ******* BACKGROUND, LINK, AND FONT COLORS ******* -->

<BODY BGCOLOR="#CCCCE6" TEXT="#000080" LINK="#CCCCE6" VLINK="#9999CC" ALINK="#CCCCE6"
TOPMARGIN="0" LEFTMARGIN="0">

<DIV ALIGN="LEFT">
<TABLE BORDER="0" CELLPADDING="10" CELLSPACING="0" WIDTH="100%">
<TR>
    <TD ALIGN="RIGHT" VALIGN="TOP" WIDTH="15%" BGCOLOR="#000080">&nbsp;</TD>
    <TD VALIGN="TOP">&nbsp;</TD>
</TR>

<!-- ******* PROJECT TITLE ******* -->

<TR>
    <TD ALIGN="RIGHT" VALIGN="TOP" WIDTH="15%" BGCOLOR="#000080">&nbsp;</TD>
    <TD VALIGN="TOP" WIDTH="85%"><FONT COLOR="#000080" SIZE="7">
    <EM>
    <STRONG>
    <!--MSProjectTemplate_ProjectTitle-->
    </STRONG>
    </EM>
    </FONT>
    </TD>
</TR>

<!-- ******* PROJECT IMAGE ******* -->

<TR>
    <TD WIDTH="15%" BGCOLOR="#000080">&nbsp;</TD>
</TR>
<TR>
    <TD ALIGN="RIGHT" VALIGN="TOP" WIDTH="15%" BGCOLOR="#000080">&nbsp;</TD>
    <TD VALIGN="TOP" WIDTH="85%">
    <TABLE BORDER="0" CELLSPACING="3"  BGCOLOR="#9999CC" BORDERCOLOR="#9999CC" BORDERCOLORDARK="#9999CC" BORDERCOLORLIGHT="#9999CC">
    <TR>
        <TD>
        <!--MSProjectTemplate_Image-->
        </TD>
    </TR>
    </TABLE>
    </TD>
</TR>
    		
<!-- ******* START AND FINISH DATE ******* -->

<TR>
    <TD ALIGN="RIGHT" VALIGN="TOP" WIDTH="15%" BGCOLOR="#000080">&nbsp;</TD>
    <TD VALIGN="TOP" WIDTH="85%">
    <TABLE BORDER="0">
    <TR>
        <TD>
        <FONT COLOR="#000000" SIZE="4">
        <STRONG>
        项目开始日期:
        <BR>
        项目完成日期:
        </STRONG>
        </FONT>
        </TD>
        <TD>
        <FONT COLOR="#000080" SIZE="4">
        <STRONG>
        <!--MSProjectTemplate_StartDate-->
        <BR>
        <!--MSProjectTemplate_FinishDate-->
        </STRONG>
        </FONT>
        </TD>
    </TR>
    </TABLE>
    </TD>
</TR>
<TR>
    <TD WIDTH="15%" BGCOLOR="#000080">&nbsp;</TD>
</TR>

<!-- ******* TASK TABLE TITLE ******* -->

<TR>
    <TD ALIGN="RIGHT" VALIGN="TOP" WIDTH="15%" BGCOLOR="#000080">
    <FONT COLOR="#CCCCE6" SIZE="5">
    <EM>
    <STRONG>
    <!--MSProjectTemplate_TaskTableTitle-->
    &nbsp;
    </STRONG>
    </EM>
    </FONT>
    </TD>
        	
<!-- ******* TASK TABLE ******* -->

    <TD VALIGN="TOP" WIDTH="85%">
    <TABLE BORDER="0" CELLSPACING="3" BGCOLOR="#9999CC" BORDERCOLOR="#9999CC"
BORDERCOLORDARK="#9999CC" BORDERCOLORLIGHT="#9999CC">
    <TR>
        <TD>
        <!--MSProjectTemplate_TaskTable-->
        </TD>
    </TR>
    </TABLE>
    </TD>
</TR>

<TR>
    <TD ALIGN="RIGHT" VALIGN="TOP" WIDTH="15%" BGCOLOR="#000080">&nbsp;</TD>
    <TD VALIGN="TOP">&nbsp;</TD>
</TR>

<!-- ******* RESOURCE TABLE TITLE ******* -->

<TR>
    <TD ALIGN="RIGHT" VALIGN="TOP" WIDTH="15%" BGCOLOR="#000080">
    <FONT COLOR="#CCCCE6" SIZE="5">
    <EM>
    <STRONG>
    <!--MSProjectTemplate_ResourceTableTitle-->
    &nbsp;
    </STRONG>
    </EM>
    </FONT>
    </TD>

<!-- ******* RESOURCE TABLE ******* -->

    <TD VALIGN="TOP" WIDTH="85%">
    <TABLE BORDER="0" CELLSPACING="3" BGCOLOR="#9999CC" BORDERCOLOR="#9999CC"
BORDERCOLORDARK="#9999CC" BORDERCOLORLIGHT="#9999CC">
    <TR>
        <TD>
        <!--MSProjectTemplate_ResourceTable-->
        </TD>
    </TR>
    </TABLE>
    </TD>
</TR>
    		
<TR>
    <TD ALIGN="RIGHT" VALIGN="TOP" WIDTH="15%" BGCOLOR="#000080">&nbsp;</TD>
    <TD VALIGN="TOP">&nbsp;</TD>
</TR>

<!-- ******* ASSIGNMENT TABLE TITLE ******* -->

<TR>
    <TD ALIGN="RIGHT" VALIGN="TOP" WIDTH="15%" BGCOLOR="#000080">
    <FONT COLOR="#CCCCE6" SIZE="5">
    <EM>
    <STRONG>
    <!--MSProjectTemplate_AssignmentTableTitle--> 
    &nbsp;
    </STRONG>
    </EM>
    </FONT>
    </TD>

<!-- ******* ASSIGNMENT TABLE ******* -->

    <TD VALIGN="TOP" WIDTH="85%">
    <TABLE BORDER="0" CELLSPACING="3" BGCOLOR="#9999CC" BORDERCOLOR="#9999CC"
BORDERCOLORDARK="#9999CC" BORDERCOLORLIGHT="#9999CC">
    <TR>
        <TD>
        <!--MSProjectTemplate_AssignmentTable-->
        </TD>
    </TR>
    </TABLE>
    </TD>
</TR>
    
<TR>
    <TD ALIGN="RIGHT" VALIGN="TOP" WIDTH="15%" BGCOLOR="#000080">&nbsp;</TD>
    <TD>&nbsp;</TD>
</TR>

<!-- ******* MICROSOFT LINKS ******* -->

<TR>
    <TD ALIGN="center" BGCOLOR="#000080">
    <FONT SIZE="1">
    <A HREF="http://www.microsoft.com/isapi/redir.dll?prd=msft&plcid=0x0804&ar=home">
    Microsoft 主页
    </A>
    <BR>
    <A HREF="http://www.microsoft.com/isapi/redir.dll?prd=msproject&sbp=&plcid=0x0804&pver=8.0&ar=home">
    Microsoft Project 主页
    </A>
    </FONT>
    </TD>
</TR>

</TABLE>
</DIV>

</BODY>
</HTML>

