<!--	  MICROSOFT PROJECT HTML 导出模板

        模板名称      : Tabs Vineyard.html
        模板样式      : 阶梯
        配色方案      : 贵妃醉酒
        图像占位符    : 有
        表占位符      : 任务/资源/分配
-->

<HTML>
<HEAD>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=GB_2312-80">
<TITLE>Microsoft Project 导出信息</TITLE>
</HEAD>

<!-- ******* BACKGROUND, LINK, AND FONT COLORS ******* -->

<BODY BGCOLOR="#669999" TEXT="#330066" LINK="#CCCC00" ALINK="#CCCC00" VLINK="#330066" TOPMARGIN="0">

<DIV ALIGN="LEFT">
<TABLE BORDER="0" CELLPADDING="0" CELLSPACING="0" WIDTH="102%">
<TR>
    <TD WIDTH="5%">&nbsp;</TD>
    <TD WIDTH="95%" BGCOLOR="#330066">&nbsp;</TD>
</TR>

<!-- ******* PROJECT TITLE ******* -->

<TR>
    <TD>&nbsp;</TD>
    <TD BGCOLOR="#330066">
    <FONT COLOR="#CCCC00" SIZE="7" FACE="宋体">
    <EM>
    <STRONG>
    <!--MSProjectTemplate_ProjectTitle-->
    </STRONG>
    </EM>
    </FONT>
    </TD>
</TR>
</TABLE>
</DIV>

<P><BR></P>

<!-- ******* PROJECT IMAGE ******* -->

<DIV ALIGN="LEFT">
<TABLE BORDER="0" CELLPADDING="0" CELLSPACING="0" WIDTH="100%">
<TR>
    <TD WIDTH="5%">&nbsp;</TD>
    <TD WIDTH="95%">
    <!--MSProjectTemplate_Image-->
    </TD>
</TR>
</TABLE>
</DIV>

<!-- ******* START AND FINISH DATE ******* -->

<DIV ALIGN="LEFT">
<TABLE BORDER="0" CELLPADDING="0" CELLSPACING="0" WIDTH="102%">
<TR>
    <TD WIDTH="5%">&nbsp;</TD>
    <TD WIDTH="40%">&nbsp;</TD>
    <TD WIDTH="55%">
    <TABLE BORDER="0" CELLPADDING="0" CELLSPACING="0">
    <TR>
        <STRONG>
        <TD><FONT COLOR="#330066" SIZE="3" FACE="宋体">
        项目开始日期:
        <BR>
        项目完成日期:
        </FONT>
        </TD>
        <TD><FONT COLOR="#CCCC00" SIZE="3" FACE="宋体">
        <!--MSProjectTemplate_StartDate-->
        <BR>
        <!--MSProjectTemplate_FinishDate-->
        </FONT>
        </TD>
        </STRONG>
    </TR>
    </TABLE>
    </TD>
</TR> 

<!-- ******* TASK TABLE TITLE ******* -->

<TR>
    <TD>&nbsp;</TD>
</TR>
<TR>
    <TD WIDTH="5%">&nbsp;</TD>
    <TD WIDTH="40%" BGCOLOR="#330066">
    <FONT COLOR="#669999" SIZE="5" FACE="宋体">
    <EM>
    <!--MSProjectTemplate_TaskTableTitle-->
    </EM>
    </FONT>
    </TD>
    <TD WIDTH="47%">&nbsp;</TD>
</TR>
<TR>
    <TD>&nbsp;</TD>
    <TD COLSPAN="2" BGCOLOR="#330066" BORDERCOLORDARK="#009999" BORDERCOLORLIGHT="#330066">&nbsp;</TD>
</TR>

<!-- ******* TASK TABLE ******* -->

<TR>
    <TD>&nbsp;</TD>
    <TD COLSPAN="2" BGCOLOR="#330066">
    <DIV ALIGN="LEFT">
    <TABLE BORDER="0" CELLPADDING="4" CELLSPACING="0" WIDTH="100%" BORDERCOLORDARK="#009999" BORDERCOLORLIGHT="#FFFFFF">
    <TR>
        <TD WIDTH="100%">
        <!--MSProjectTemplate_TaskTable-->
        </TD>
    </TR>
    </TABLE>
    </DIV>&nbsp;
    </TD>
</TR>

<!-- ******* RESOURCE TABLE TITLE ******* -->

<TR>
    <TD>&nbsp;</TD>
</TR>
<TR>
    <TD>&nbsp;</TD>
    <TD BGCOLOR="#330066">
    <FONT COLOR="#669999" SIZE="5" FACE="宋体">
    <EM>
    <!--MSProjectTemplate_ResourceTableTitle-->
    </EM>
    </FONT>
    </TD>
    <TD>&nbsp;</TD>
</TR>
    <TR>
    <TD>&nbsp;</TD>
    <TD COLSPAN="2" BGCOLOR="#330066" BORDERCOLORDARK="#009999" BORDERCOLORLIGHT="#330066">&nbsp;</TD>
</TR>

<!-- ******* RESOURCE TABLE ******* -->

<TR>
    <TD>&nbsp;</TD>
    <TD COLSPAN="2" BGCOLOR="#330066">
    <DIV ALIGN="LEFT">
    <TABLE BORDER="0" CELLPADDING="4" CELLSPACING="0" WIDTH="100%" BORDERCOLORDARK="#009999" BORDERCOLORLIGHT="#FFFFFF">
    <TR>
        <TD WIDTH="100%">
        <!--MSProjectTemplate_ResourceTable-->
        </TD>
    </TR>
    </TABLE>
    </DIV>&nbsp;
    </TD>
</TR>

<!-- ******* ASSIGNMENT TABLE TITLE ******* -->

<TR>
    <TD>&nbsp;</TD>
</TR>
<TR>
    <TD>&nbsp;</TD>
    <TD BGCOLOR="#330066">
    <FONT COLOR="#669999" SIZE="5" FACE="宋体">
    <EM>
    <!--MSProjectTemplate_AssignmentTableTitle-->
    </EM>
    </FONT>
    </TD>
    <TD>&nbsp;</TD>
</TR>
<TR>
    <TD>&nbsp;</TD>
    <TD COLSPAN="2" BGCOLOR="#330066" BORDERCOLORDARK="#009999" BORDERCOLORLIGHT="#330066">&nbsp;</TD>
</TR>

<!-- ******* ASSIGNMENT TABLE ******* -->

<TR>
    <TD>&nbsp;</TD>
    <TD COLSPAN="2" BGCOLOR="#330066">
    <DIV ALIGN="LEFT">
    <TABLE BORDER="0" CELLPADDING="4" CELLSPACING="0" WIDTH="100%" BORDERCOLORDARK="#009999" BORDERCOLORLIGHT="#FFFFFF">
    <TR>
        <TD WIDTH="100%">
        <!--MSProjectTemplate_AssignmentTable-->
        </TD>
    </TR>
    </TABLE>
    </DIV>&nbsp;</TD>
</TR>
<TR>
    <TD>&nbsp;</TD>
</TR>

<!-- ******* MICROSOFT LINKS ******* -->  

<FONT SIZE="2" FACE="宋体">
<TR>
    <TD>&nbsp;</TD>
    <TD>
    <EM>
    <A HREF="http://www.microsoft.com/isapi/redir.dll?prd=msft&plcid=0x0804&ar=home">
    Microsoft 主页
    </A>
    <BR>
    <A HREF="http://www.microsoft.com/isapi/redir.dll?prd=msproject&sbp=&plcid=0x0804&pver=8.0&ar=home">
    Microsoft Project 主页
    </A>
    </EM>
    </TD>
</TR>
</FONT>

</TABLE>
</DIV>

</BODY>
</HTML>

